In [1]:
import datetime, warnings, scipy 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from matplotlib.patches import ConnectionPatch
from collections import OrderedDict
from matplotlib.gridspec import GridSpec
from sklearn import metrics, linear_model
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from scipy.optimize import curve_fit

In [2]:
import networkx as nx

In [3]:
airlines_path = '/Users/wentao/Desktop/flight-delays/airlines.csv'
airports_path = '/Users/wentao/Desktop/flight-delays/airports.csv'
flight_path = '/Users/wentao/Desktop/flight-delays/flights.csv'

In [4]:
airlines = pd.read_csv(airlines_path)
airports = pd.read_csv(airports_path)
flights = pd.read_csv(flight_path, low_memory=False)

In [5]:
flights.head(10)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,2015,1,1,4,DL,806,N3730B,SFO,MSP,25,...,610.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,2015,1,1,4,NK,612,N635NK,LAS,MSP,25,...,509.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
7,2015,1,1,4,US,2013,N584UW,LAX,CLT,30,...,753.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
8,2015,1,1,4,AA,1112,N3LAAA,SFO,DFW,30,...,532.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,2015,1,1,4,DL,1173,N826DN,LAS,ATL,30,...,656.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
routes = pd.concat([flights.ORIGIN_AIRPORT, flights.DESTINATION_AIRPORT], axis=1).drop_duplicates()

In [13]:
routes.reset_index(inplace=True)

In [14]:
routes.drop(columns='index')

        index ORIGIN_AIRPORT DESTINATION_AIRPORT
0           0            ANC                 SEA
1           1            LAX                 PBI
2           2            SFO                 CLT
3           3            LAX                 MIA
4           4            SEA                 ANC
5           5            SFO                 MSP
6           6            LAS                 MSP
7           7            LAX                 CLT
8           8            SFO                 DFW
9           9            LAS                 ATL
10         10            DEN                 ATL
11         11            LAS                 MIA
12         12            LAX                 MSP
13         13            SLC                 ATL
14         14            SEA                 MSP
15         17            SFO                 IAH
16         18            ANC                 PDX
17         19            PDX                 MSP
18         20            LAS                 MCI
19         21            SEA                 MIA
20         22            LAS                 DFW
21         25            LAX                 IAH
22         26            FAI                 SEA
23         27            MSP                 FLL
24         28            LAS                 CLT
25         29            DEN                 MIA
26         30            PHX                 ORD
27         31            PHX                 MIA
28         34            LAS                 IAH
29         35            LAS                 HNL
...       ...            ...                 ...
8579  5437069            STL                 PIA
8580  5504677            EUG                 BOI
8581  5522890            BOI                 EUG
8582  5545183            SWF                 PBI
8583  5551575            GCC                 RAP
8584  5606912            TPA                 SFO
8585  5608551            OAK                 FLL
8586  5617499            LGA                 DSM
8587  5620066            BIL                 SEA
8588  5620714            MSO                 SEA
8589  5623431            LGA                 MTJ
8590  5626968            EGE                 SLC
8591  5627107            MTJ                 LGA
8592  5629263            DTW                 MQT
8593  5630874            MQT                 DTW
8594  5632978            SEA                 BIL
8595  5634025            SEA                 MSO
8596  5672254            GRK                 MEI
8597  5693081            CRP                 ATL
8598  5700787            SWF                 RSW
8599  5715573            ORD                 GJT
8600  5716341            ATL                 GJT
8601  5789445            MSN                 SAN
8602  5793939            MIA                 GSP
8603  5794480            OKC                 FLL
8604  5796607            GSP                 MIA
8605  5799339            MIA                 OKC
8606  5801064            LRD                 HRL
8607  5802350            OKC                 MIA
8608  5814476            CID                 LAX

[8609 rows x 3 columns]