# NTDS'18 milestone 1: network collection and properties
[Effrosyni Simou](https://lts4.epfl.ch/simou), [EPFL LTS4](https://lts4.epfl.ch)

## Students

* Team: `<05>`
* Students: `<Wentao Feng, Yunbei Wang, Yan Fu, Zhaodong Sun>`
* Dataset: `<Flight route>`

## Rules

* Milestones have to be completed by teams. No collaboration between teams is allowed.
* Textual answers shall be short. Typically one to three sentences.
* Code has to be clean.
* You cannot import any other library than we imported.
* When submitting, the notebook is executed and the results are stored. I.e., if you open the notebook again it should show numerical results and plots. We won't be able to execute your notebooks.
* The notebook is re-executed from a blank state before submission. That is to be sure it is reproducible. You can click "Kernel" then "Restart & Run All" in Jupyter.

## Objective

The purpose of this milestone is to start getting acquainted to the network that you will use for this class. In the first part of the milestone you will import your data using [Pandas](http://pandas.pydata.org) and you will create the adjacency matrix using [Numpy](http://www.numpy.org). This part is project specific. In the second part you will have to compute some basic properties of your network. **For the computation of the properties you are only allowed to use the packages that have been imported in the cell below.** You are not allowed to use any graph-specific toolboxes for this milestone (such as networkx and PyGSP). Furthermore, the aim is not to blindly compute the network properties, but to also start to think about what kind of network you will be working with this semester.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Part 1 - Import your data and manipulate them.

###  A. Load your data in a Panda dataframe.

First, you should define and understand what are your nodes, what features you have and what are your labels. Please provide below a Panda dataframe where each row corresponds to a node with its features and labels. For example, in the the case of the Free Music Archive (FMA) Project, each row of the dataframe would be of the following form:


| Track   |  Feature 1  | Feature 2 | . . . | Feature 518|  Label 1 |  Label 2 |. . .|Label 16|
|:-------:|:-----------:|:---------:|:-----:|:----------:|:--------:|:--------:|:---:|:------:|
|         |             |           |       |            |          |          |     |        |

It is possible that in some of the projects either the features or the labels are not available. This is OK, in that case just make sure that you create a dataframe where each of the rows corresponds to a node and its associated features or labels.

In [3]:
routes = pd.read_csv("routes.dat", names = ['Airline', 'Airline_ID', 'S_Port', 'S_ID', 
                                            'D_Port', 'D_ID', 'Codeshare', 'Stops', 'Equipment'])
# S_Port*D_Port = 3407*3448

airlines = pd.read_csv("airlines.dat",names = ['Airline_ID','Name','Alias','IATA','ICAO','Callsign','Country','Active'])

airports = pd.read_csv("airports.txt",names = ['Airport_ID','Name','City','Country','IATA','ICAO','Latitude','Longitude',
                                               'Altitude','Timezone','DST','TZ database','Type','Source'])
#S stands for source; D stands for destination

In [4]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline       67663 non-null object
Airline_ID    67663 non-null object
S_Port        67663 non-null object
S_ID          67663 non-null object
D_Port        67663 non-null object
D_ID          67663 non-null object
Codeshare     14597 non-null object
Stops         67663 non-null int64
Equipment     67645 non-null object
dtypes: int64(1), object(8)
memory usage: 4.6+ MB

In [5]:
port1 = pd.concat([routes.S_Port,routes.D_Port],axis=0).drop_duplicates()#.sort_values().get_values()
port1.shape

(3425,)

In [6]:
routes.D_Port.drop_duplicates().shape

(3418,)

In [7]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
Airline_ID    6162 non-null int64
Name          6162 non-null object
Alias         5656 non-null object
IATA          1535 non-null object
ICAO          6075 non-null object
Callsign      5354 non-null object
Country       6147 non-null object
Active        6162 non-null object
dtypes: int64(1), object(7)
memory usage: 385.2+ KB

In [8]:
noID = routes.loc[(routes.Airline_ID=='\\N')].copy()
noID.Airline.drop_duplicates()

312      3H
1000     4E
1692     4W
2099     5U
2356     6L
2957     7S
3558     9D
3691     9M
22805    EB
31114    HS
44079    O4
45214    P1
45224    P2
45260    P6
45314    PB
64909    WT
65390    X4
65551    XU
66114    YJ
66188    YN
66593    ZD
Name: Airline, dtype: object

In [9]:
#pd.to_numeric(routes['Airline_ID'])
#routes.Airline_ID.value_counts().sort_index()
routes_ = routes.copy()
routes_.Airline_ID = pd.to_numeric(routes_.Airline_ID.replace(['\\N'],value=[np.nan]))#.value_counts()#.sort_index()
#routes.info()
routes_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline       67663 non-null object
Airline_ID    67184 non-null float64
S_Port        67663 non-null object
S_ID          67663 non-null object
D_Port        67663 non-null object
D_ID          67663 non-null object
Codeshare     14597 non-null object
Stops         67663 non-null int64
Equipment     67645 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.6+ MB

In [12]:
route1 = pd.merge(routes_,airlines[['Airline_ID','Active']].copy().drop_duplicates('Airline_ID'))
route_active = route1.loc[(route1.Active=='Y')].copy()
# route_active = pd.concat([route_active,noID],axis=0)
route_active

,Airline,Airline_ID,S_Port,S_ID,D_Port,D_ID,Codeshare,Stops,Equipment,Active
0,2B,410.0,AER,2965,KZN,2990,NaN,0,CR2,Y
1,2B,410.0,ASF,2966,KZN,2990,NaN,0,CR2,Y
2,2B,410.0,ASF,2966,MRV,2962,NaN,0,CR2,Y
3,2B,410.0,CEK,2968,KZN,2990,NaN,0,CR2,Y
4,2B,410.0,CEK,2968,OVB,4078,NaN,0,CR2,Y
5,2B,410.0,DME,4029,KZN,2990,NaN,0,CR2,Y
6,2B,410.0,DME,4029,NBC,6969,NaN,0,CR2,Y
7,2B,410.0,DME,4029,TGK,\N,NaN,0,CR2,Y
8,2B,410.0,DME,4029,UUA,6160,NaN,0,CR2,Y
9,2B,410.0,EGO,6156,KGD,2952,NaN,0,CR2,Y
10,2B,410.0,EGO,6156,KZN,2990,NaN,0,CR2,Y
11,2B,410.0,GYD,2922,NBC,6969,NaN,0,CR2,Y
12,2B,410.0,KGD,2952,EGO,6156,NaN,0,CR2,Y
13,2B,410.0,KZN,2990,AER,2965,NaN,0,CR2,Y
14,2B,410.0,KZN,2990,ASF,2966,NaN,0,CR2,Y
15,2B,410.0,KZN,2990,CEK,2968,NaN,0,CR2,Y
16,2B,410.0,KZN,2990,DME,4029,NaN,0,CR2,Y
17,2B,410.0,KZN,2990,EGO,6156,NaN,0,CR2,Y
18,2B,410.0,KZN,2990,LED,2948,NaN,0,CR2,Y
19,2B,410.0,KZN,2990,SVX,2975,NaN,0,CR2,Y
20,2B,410.0,LED,2948,KZN,2990,NaN,0,CR2,Y
21,2B,410.0,LED,2948,NBC,6969,NaN,0,CR2,Y
22,2B,410.0,LED,2948,UUA,6160,NaN,0,CR2,Y
23,2B,410.0,MRV,2962,ASF,2966,NaN,0,CR2,Y
24,2B,410.0,NBC,6969,DME,4029,NaN,0,CR2,Y
25,2B,410.0,NBC,6969,GYD,2922,NaN,0,CR2,Y
26,2B,410.0,NBC,6969,LED,2948,NaN,0,CR2,Y
27,2B,410.0,NBC,6969,SVX,2975,NaN,0,CR2,Y
28,2B,410.0,NJC,2972,SVX,2975,NaN,0,CR2,Y
29,2B,410.0,NJC,2972,UUA,6160,NaN,0,CR2,Y
...,...,...,...,...,...,...,...,...,...,...
67154,ZL,4178.0,SYD,3361,ABX,3333,NaN,0,SF3,Y
67155,ZL,4178.0,SYD,3361,ARM,4062,NaN,0,SF3,Y
67156,ZL,4178.0,SYD,3361,BHQ,6241,NaN,0,SF3,Y
67157,ZL,4178.0,SYD,3361,BHS,6249,NaN,0,SF3,Y
67158,ZL,4178.0,SYD,3361,BNK,4291,NaN,0,SF3,Y
67159,ZL,4178.0,SYD,3361,DBO,3358,NaN,0,SF3,Y
67160,ZL,4178.0,SYD,3361,GFF,6271,NaN,0,SF3,Y
67161,ZL,4178.0,SYD,3361,LSY,6287,NaN,0,SF3,Y
67162,ZL,4178.0,SYD,3361,MIM,6294,NaN,0,SF3,Y
67163,ZL,4178.0,SYD,3361,MQL,6298,NaN,0,SF3,Y
67164,ZL,4178.0,SYD,3361,MYA,6302,NaN,0,SF3,Y
67165,ZL,4178.0,SYD,3361,NRA,6307,NaN,0,SF3,Y
67166,ZL,4178.0,SYD,3361,NTL,4320,NaN,0,SF3,Y
67167,ZL,4178.0,SYD,3361,OAG,6793,NaN,0,SF3,Y
67168,ZL,4178.0,SYD,3361,PKE,6317,NaN,0,SF3,Y
67169,ZL,4178.0,SYD,3361,TRO,6794,NaN,0,SF3,Y
67170,ZL,4178.0,SYD,3361,WGA,3363,NaN,0,SF3,Y
67171,ZL,4178.0,TRO,6794,GFN,6792,NaN,0,SF3,Y
67172,ZL,4178.0,TRO,6794,SYD,3361,NaN,0,SF3,Y
67173,ZL,4178.0,TSV,3330,ISA,3324,NaN,0,SF3,Y
67174,ZL,4178.0,TSV,3330,WIN,6337,NaN,0,SF3,Y
67175,ZL,4178.0,WGA,3363,MEL,3339,NaN,0,SF3,Y
67176,ZL,4178.0,WGA,3363,SYD,3361,NaN,0,SF3,Y
67177,ZL,4178.0,WIN,6337,LRE,6289,NaN,0,SF3,Y
67178,ZL,4178.0,WIN,6337,TSV,3330,NaN,0,SF3,Y
67179,ZL,4178.0,WYA,6334,ADL,3341,NaN,0,SF3,Y
67180,ZM,19016.0,DME,4029,FRU,2912,NaN,0,734,Y
67181,ZM,19016.0,FRU,2912,DME,4029,NaN,0,734,Y
67182,ZM,19016.0,FRU,2912,OSS,2913,NaN,0,734,Y
67183,ZM,19016.0,OSS,2913,FRU,2912,NaN,0,734,Y

In [13]:
#S_Ports = route_active.S_Port.drop_duplicates()
#D_Ports = route_active.D_Port.drop_duplicates()
port = pd.concat([route_active.S_Port,route_active.D_Port],axis=0).drop_duplicates()#.sort_values().get_values()
port.sort_values()

9867     AAE
12737    AAL
33349    AAN
48150    AAQ
14219    AAR
17886    AAT
8343     AAX
25586    AAY
48151    ABA
62181    ABB
14171    ABD
4483     ABE
4485     ABI
81       ABJ
2430     ABL
46272    ABM
4486     ABQ
19842    ABR
40938    ABS
50908    ABT
8799     ABV
46419    ABX
8801     ABY
4490     ABZ
1013     ACA
83       ACC
6837     ACE
353      ACH
29964    ACI
3479     ACK
        ...
1123     ZCL
30438    ZCO
47580    ZDY
3110     ZEL
31733    ZFN
46380    ZGS
42549    ZGU
926      ZHA
928      ZHY
21848    ZIG
1124     ZIH
63069    ZKG
1126     ZLO
63071    ZLT
3113     ZMT
46848    ZNE
1707     ZNZ
37635    ZOS
23172    ZQN
64994    ZQW
42400    ZQZ
123      ZRH
8342     ZSA
9866     ZSE
63073    ZTB
4287     ZTH
930      ZUH
47367    ZVK
3431     ZYI
987      ZYL
Length: 3287, dtype: object

### B. Create the adjacency matrix of your network.

Remember that there are edges connecting the attributed nodes that you organized in the dataframe above. The connectivity of the network is captured by the adjacency matrix $W$. If $N$ is the number of nodes, the adjacency matrix is an $N \times N$ matrix where the value of $W(i,j)$ is the weight of the edge connecting node $i$ to node $j$.  

There are two possible scenarios for your adjacency matrix construction, as you already learned in the tutorial by Benjamin:

1) The edges are given to you explicitly. In this case you should simply load the file containing the edge information and parse it in order to create your adjacency matrix. See how to do that in the  [graph from edge list]() demo.

2) The edges are not given to you. In that case you will have to create a feature graph. In order to do that you will have to chose a distance that will quantify how similar two nodes are based on the values in their corresponding feature vectors. In the [graph from features]() demo Benjamin showed you how to build feature graphs when using Euclidean distances between feature vectors. Be curious and explore other distances as well! For instance, in the case of high-dimensional feature vectors, you might want to consider using the cosine distance. Once you compute the distances between your nodes you will have a fully connected network. Do not forget to sparsify by keeping the most important edges in your network.

Follow the appropriate steps for the construction of the adjacency matrix of your network and provide it in the Numpy array ``adjacency`` below:

In [ ]:
# Your code here
 
adjacency = # the adjacency matrix
n_nodes = # the number of nodes in the network

## Part 2

Execute the cell below to plot the (weighted) adjacency matrix of your network.

In [ ]:
plt.spy(adjacency, markersize=1)
plt.title('adjacency matrix')

### Question 1

What is the maximum number of links $L_{max}$ in a network with $N$ nodes (where $N$ is the number of nodes in your network)? How many links $L$ are there in your collected network? Comment on the sparsity of your network.

In [ ]:
# Your code here.

**Your answer here.**

### Question 2

Is your graph directed or undirected? If it is directed, convert it to an undirected graph by symmetrizing the adjacency matrix.

**Your answer here.**

In [ ]:
# Your code here.

### Question 3

In the cell below save the features dataframe and the **symmetrized** adjacency matrix. You can use the Pandas ``to_csv`` to save the ``features`` and Numpy's ``save`` to save the ``adjacency``. We will reuse those in the following milestones.

In [ ]:
# Your code here.

### Question 4

Are the edges of your graph weighted?

**Your answer here.**

### Question 5

What is the degree distibution of your network?

In [ ]:
degree =  # Your code here. It should be a numpy array.

assert len(degree) == n_nodes

Execute the cell below to see the histogram of the degree distribution.

In [ ]:
weights = np.ones_like(degree) / float(n_nodes)
plt.hist(degree, weights=weights);

What is the average degree?

In [ ]:
# Your code here.

### Question 6

Comment on the degree distribution of your network.

**Your answer here.**

### Question 7

Write a function that takes as input the adjacency matrix of a graph and determines whether the graph is connected or not.

In [ ]:
def connected_graph(adjacency):
    """Determines whether a graph is connected.
    
    Parameters
    ----------
    adjacency: numpy array
        The (weighted) adjacency matrix of a graph.
    
    Returns
    -------
    bool
        True if the graph is connected, False otherwise.
    """
    
    # Your code here.
    
    return connected

Is your graph connected? Run the ``connected_graph`` function to determine your answer.

In [ ]:
# Your code here.

### Question 8

Write a function that extracts the connected components of a graph.

In [ ]:
def find_components(adjacency):
    """Find the connected components of a graph.
    
    Parameters
    ----------
    adjacency: numpy array
        The (weighted) adjacency matrix of a graph.
    
    Returns
    -------
    list of numpy arrays
        A list of adjacency matrices, one per connected component.
    """
    
    # Your code here.
    
    return components

How many connected components is your network composed of? What is the size of the largest connected component? Run the ``find_components`` function to determine your answer.

In [ ]:
# Your code here.

### Question 9

Write a function that takes as input the adjacency matrix and a node (`source`) and returns the length of the shortest path between that node and all nodes in the graph using Dijkstra's algorithm. **For the purposes of this assignment we are interested in the hop distance between nodes, not in the sum of weights. **

Hint: You might want to mask the adjacency matrix in the function ``compute_shortest_path_lengths`` in order to make sure you obtain a binary adjacency matrix.

In [ ]:
def compute_shortest_path_lengths(adjacency, source):
    """Compute the shortest path length between a source node and all nodes.
    
    Parameters
    ----------
    adjacency: numpy array
        The (weighted) adjacency matrix of a graph.
    source: int
        The source node. A number between 0 and n_nodes-1.
    
    Returns
    -------
    list of ints
        The length of the shortest path from source to all nodes. Returned list should be of length n_nodes.
    """
    
    # Your code here.
    
    return shortest_path_lengths

### Question 10

The diameter of the graph is the length of the longest shortest path between any pair of nodes. Use the above developed function to compute the diameter of the graph (or the diameter of the largest connected component of the graph if the graph is not connected). If your graph (or largest connected component) is very large, computing the diameter will take very long. In that case downsample your graph so that it has 1.000 nodes. There are many ways to reduce the size of a graph. For the purposes of this milestone you can chose to randomly select 1.000 nodes.

In [ ]:
# Your code here.

### Question 11

Write a function that takes as input the adjacency matrix, a path length, and two nodes (`source` and `target`), and returns the number of paths of the given length between them.

In [ ]:
def compute_paths(adjacency, source, target, length):
    """Compute the number of paths of a given length between a source and target node.
    
    Parameters
    ----------
    adjacency: numpy array
        The (weighted) adjacency matrix of a graph.
    source: int
        The source node. A number between 0 and n_nodes-1.
    target: int
        The target node. A number between 0 and n_nodes-1.
    length: int
        The path length to be considered.
    
    Returns
    -------
    int
        The number of paths.
    """
    
    # Your code here.
    
    return n_paths

Test your function on 5 pairs of nodes, with different lengths.

In [ ]:
print(compute_paths(adjacency, 0, 10, 1))
print(compute_paths(adjacency, 0, 10, 2))
print(compute_paths(adjacency, 0, 10, 3))
print(compute_paths(adjacency, 23, 67, 2))
print(compute_paths(adjacency, 15, 93, 4))

### Question 12

How many paths of length 3 are there in your graph? Hint: calling the `compute_paths` function on every pair of node is not an efficient way to do it.

In [ ]:
# Your code here.

### Question 13

Write a function that takes as input the adjacency matrix of your graph (or of the largest connected component of your graph) and a node and returns the clustering coefficient of that node.

In [ ]:
def compute_clustering_coefficient(adjacency, node):
    """Compute the clustering coefficient of a node.
    
    Parameters
    ----------
    adjacency: numpy array
        The (weighted) adjacency matrix of a graph.
    node: int
        The node whose clustering coefficient will be computed. A number between 0 and n_nodes-1.
    
    Returns
    -------
    float
        The clustering coefficient of the node. A number between 0 and 1.
    """
    
    # Your code here.
    
    return clustering_coefficient

### Question 14

What is the average clustering coefficient of your graph (or of the largest connected component of your graph if your graph is disconnected)? Use the function ``compute_clustering_coefficient`` to determine your answer.

In [ ]:
# Your code here.